*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	height: 100vh;
}


.memory-game{
	height: 640px;
	width: 640px;
	border:2px solid red;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	
	perspective: 1000px;
	
}
.memory-card{
	transform-style: preserve-3d;
	width: 149.01px;
	height: 201.33px;
	position: relative;
	
	margin: 5px;
	transition: transform 0.5s;
	transform: scale(1.0);

}
.frontface,
.backface{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: blue;
	border-radius: 10px;
	backface-visibility: hidden;
}
.memory-card.flip{
	transform: rotateY(180deg);
	transition: transform 0.2s;
}
.memory-card:active{
	transform: scale(0.97);
	transition: transform 0.2s;
}
.frontface{
	transform: rotateY(-180deg);
}

.score{
	position: absolute;
	top: 30%;
	left: 41.1%;
	display: none;

	height: 300px;
	width: 300px;
	background: blue;
	
	transform: rotateZ(45deg);
}
.text{
	transform: rotateZ(-45deg);
	font-size: 25px;
	color: white;
	font-weight: 800;
	text-align: center;
	
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 424.264px;
	width: 424.264px;
	top: -60px;
	left: -60px;
	}